[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
watchdog = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-ckeditor = "*"
flask-sqlalchemy = "*"
pymysql = "*"

[requires]
python_version = "3.7"
